.main-board {
  margin: auto;
}

.row-box {
  text-align: center;
}

.play-box {
  /* border-spacing: border-box; */
  width: 60px;
  height: 80px;
  font-weight: bold;
  font-size: 2em;  
  margin: 0.05em;
  border-radius: 0;
}

.empty-box {
  opacity: 0;
  width: 60px;
  height: 80px;
}

